<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tibo.myrides">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoappyellow"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoappyellow"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCC6_SCEF4zQaG5fbR-WyWKEEImFycQWsI" />

        <receiver android:name=".HelperPackage.NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".General.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".General.AboutActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".General.InlogActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".General.RegistreerActvity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".UserActivities.HomeActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".UserActivities.AddDriveActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".UserActivities.SummaryActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".UserActivities.MapsRouteActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".UserActivities.AddCarActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".UserActivities.MyDrivesActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".UserActivities.OtherDrivesActivity"
            android:theme="@style/AppTheme"/>


        <!-- FACEBOOK STUFF -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!-- EINDE FACEBOOK STUFF -->

    </application>

</manifest>